@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .

*/

body {
    background-color: #aedaae;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#0b580b;
}
#principal {
    text-align: center;
    background-color: beige;
    color: black;
}
h2 {
    color: #363f36;
}
.basico {
    color: #520b58;
}
.intermediario {
    color: #58570b;
}
.avancado {
    color: rgb(49, 61, 241);
}
p {
    text-align: justify;
}